<h1> <%= @borrower.first_name %> </h1>
<p> <%= @borrower.goal %> </p>
<p> <%= @borrower.current %> </p>

<a href="/session/" data-confirm="Are you sure you want to log out?" data-method="delete">Log Out</a>
